@tailwind base;
@tailwind components;
@tailwind utilities;

#footer{
  height: 7%
}

*{
  border: 1px solid green
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 226, 226;
    --background-start-rgb: 169, 144, 126;
    --background-end-rgb: 232, 226, 226;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    background-repeat: no-repeat;
    background-size: contain;
}
